#lifeSpent{
    display: flex;
    flex-direction: column;
}

#subQuestions, #subQuestions.vertical{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.smallOneLineText{
    width: 50%;
}