#aboutYou{
    margin: 1rem;
    background-color: #EFF1FB;
}

#spinner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.multiLine, .singleLine{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.MuiInputBase-root.MuiOutlinedInput-root{
    background-color: white;
}
.MuiSelect-select.MuiSelect-outlined{
    margin-left: 4rem;
    margin-top: 1rem;
}
/*
 * Dynamically changes size of the select button based on screen size
 */
.select{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2rem;
}
@media screen and (min-width: 1024px) {
    select {
        width: 30%;
    }
}
@media screen and (max-width: 1024px) {
    select {
        width: 70%;
    }
}

.MuiFormControl-root .MuiTextField-root{
    width: 100%;
}
.MuiInputBase-root .MuiTextField-root{
    width: 100%;
}
.MuiInputBase-input .MuiOutlinedInput-input{
    background-color: white;
}