#aboutYou{
    margin: 1rem;
    background-color: #EFF1FB;
}

.multiLine, .singleLine{
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.select{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1rem;
}

@media screen and (min-width: 1024px) {
    select {
        width: 30%;
    }
}
@media screen and (max-width: 1024px) {
    select {
        width: 70%;
    }
}

.MuiFormControl-root .MuiTextField-root{
    width: 100%;
}
.MuiInputBase-root .MuiTextField-root{
    width: 100%;
}
.MuiInputBase-input .MuiOutlinedInput-input{
    background-color: white;
}

/* #aboutYou{
    margin-right: 1rem;
}

.MuiFormControl-root, 
    .MuiTextField-root, 
    .MuiInputBase-root, 
    .MuiInputLabel-root{
    margin: 1rem;
    font-size: 1rem;
    
}
.singleLineText{
    width: 100%;
}
.single-line-text{
    width: 100%;
}
/*
.MuiFormHelperText-root.MuiFormHelperText-sizeSmall{
    margin-top: 3px;
}

.MuiInputBase-root.MuiOutlinedInput-root, .MuiInputBase-root.MuiFilledInput-root{
    background-color: white;
} */



/* #aboutYou{
    margin: 1rem;
}
#multilineResponse{
    display: flex;
    flex-direction: column;
    width: 90%;
}
#multilineResponseInput{
    height: 5rem;
    font-size: 0.75rem;

}
textarea{
    width: 90%;
} */
/*For Computer View*/
/* @media screen and (min-width: 1024px) {
    div#oneLineResponse {
        display: flex;
        flex-direction: row;
        align-items: baseline;
    }
    label{
        display:inline-block;
        font-size: 1rem;
        padding-right: 1em;
        font-weight: normal;
    }
    input[type=text]{
        display: inline-block;
        font-size: 1rem;
        height: 2rem;
        border-radius: 5px;
        width: 50rem;
    }
}
/*For Tablet View*/
/* @media screen and (min-width: 400px) and (max-width: 1024px) {
    div#oneLineResponse{
        display: flex;
        flex-direction: column;
        padding: 1rem;    
    }
    label{
        font-size: 1rem;
        padding-right: 1rem;
        font-weight: normal;
    }
    input[type=text]{
        font-weight:lighter;
        font-size: 2rem;
        border-radius: 5px;
        font-size: 1rem;
        height: 2rem;
    }
} */
