
div#question{
    width: 90%;
    margin-left: 1rem;
}
#singleLineResponse #question{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
#singleLineResponse{
    width: 100%;
}

#singleLineResponse #question #singleLineResponseInput{
    height: 2rem;
}