#configs{
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: #EFF1FB;
}

#spinner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.spanLabel {
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: normal;
}

.configContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1rem;
}

.configLabel{
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.MuiInputBase-root.MuiOutlinedInput-root{
    background-color: white;
}
.MuiSelect-select .MuiSelect-outlined .MuiInputBase-input .MuiOutlinedInput-input {
    padding-right: 0rem;
}
.MuiSelect-select.MuiSelect-outlined{
    padding: 12.5px 5px 12.5px 1rem;
    margin-left: 0rem;
    margin-top: 0rem;
    width: 90%;
}

@media screen and (min-width: 1024px) {
    select {
        width: 30%;
    }
}
@media screen and (max-width: 1024px) {
    select {
        width: 70%;
    }
}

.MuiFormControl-root .MuiTextField-root{
    width: 100%;
}
.MuiInputBase-root .MuiTextField-root{
    width: 100%;
}
.MuiInputBase-input .MuiOutlinedInput-input{
    background-color: white;
}
